* {
    font-family: 'Pokemon Solid', sans-serif;
    
}
.scores {
    
    font-size: 30px;
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.timer {
    display: flex;
    justify-content: end;
}

#clear {
    height: 21px;
    width: 130px;
}
#start {
    background-color: black;
    color: rgb(255, 0, 0);
}
/* 
.hide {
    display: none;
} */
/* 
#hofPhoto {
   
} */

/* footer {
    display: flex;
    flex-direction: column;
    align-items: center;
   
} */


body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/pokemon\ hero\ img.png");
    
  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  position: relative;
  
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: yellow;
  font-size: 20px;
  text-shadow: 3px 3px blue;
  
}